.subtitle {
	margin-bottom: 1rem;
}


table {
	border-collapse: collapse;
	width: 100%;
	text-align: left;

	th, td {
		padding: 0.4rem 1rem;
		vertical-align: middle;

		&.center {
			text-align: center;
		}
		&.right {
			text-align: right;
		}
		&.min {
			width: 1%;
		}
	}

	thead {
		border-bottom: 1px solid #222;
	}
}
