/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import 'components';
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$lightning-app-primary: mat-palette($mat-indigo);
$lightning-app-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$lightning-app-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as `color` or `typography`.
$lightning-app-theme: mat-light-theme(
	(
		color: (
			primary: $lightning-app-primary,
			accent: $lightning-app-accent,
			warn: $lightning-app-warn,
		),
	)
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($lightning-app-theme);

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
}

html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background: #2c2f33;
	color: #ddd;
	user-select: none;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: currentColor;
}

/* width */
::-webkit-scrollbar {
	width: 0.75rem;
}

/* Track */
::-webkit-scrollbar-track {
	background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgba(255, 255, 255, 0.3);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgba(255, 255, 255, 0.2);
}
