/* You can add global styles to this file, and also import other style files */
@import "variables";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
}

html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background: #2c2f33;
	color: #ddd;
	user-select: none;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: currentColor;
}

/* width */
::-webkit-scrollbar {
	width: 0.75rem;
}

/* Track */
::-webkit-scrollbar-track {
	background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgba(255, 255, 255, 0.3);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgba(255, 255, 255, 0.2);
}


.subtitle {
	margin-bottom: 1rem;
}
