<div class="tabs">
	<div class="tab" (click)="activeTab = 'source'" [class.tab--active]="activeTab == 'source'">Source</div>
	<div class="tab" (click)="activeTab = 'transform'" [class.tab--active]="activeTab == 'transform'">Transform</div>
	<div class="tab" (click)="activeTab = 'color'" [class.tab--active]="activeTab == 'color'">Color</div>
	<div class="tab" (click)="activeTab = 'blend'" [class.tab--active]="activeTab == 'blend'">Blend</div>
</div>

<div class="outlet" *ngIf="layer">
	<app-layer-source [layer]="layer" *ngIf="activeTab == 'source'" (sourceChange)="onSourceChange($event)"></app-layer-source>
	<app-layer-transform [layer]="layer" *ngIf="activeTab == 'transform'"></app-layer-transform>
	<app-layer-color [layer]="layer" *ngIf="activeTab == 'color'"></app-layer-color>
	<app-layer-blend [layer]="layer" *ngIf="activeTab == 'blend'"></app-layer-blend>
</div>
