@import 'src/variables';

$navbar-item-size: 4.5rem;
$navbar-bg: #1d2023;

$navbar-item-transition: all 0.2s ease-out;

:host {
	display: flex;
	flex-direction: row;
	height: 100%;
	width: 100%;
}

.navbar {
	display: flex;
	flex-direction: column;

	background: $navbar-bg;
}

.navbar-top {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;

	&__icon {
		cursor: pointer;
		margin: 1rem;
		height: 2.5rem;
		width: 2.5rem;
		fill: rgba(255, 255, 255, 0.25);
		transition: all 0.2s ease-out;
		&:hover {
			fill: #fbcf3d;
			transform: scale(1.1);
		}
	}

	&__popup {
		position: absolute;
		list-style: none;
		top: 100%;
		left: 0.5rem;
		width: 20rem;
		background: $navbar-bg;
		border: 2px solid darken($navbar-bg, 5%);
		box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.3);

		.popup__item {
			padding: 1rem;

			&:not(:last-child) {
				border-bottom: 1px solid rgba(0, 0, 0, 0.3);
			}
			&:hover {
				background: transparentize($color-primary, 0.8);
				cursor: pointer;
			}
		}
	}
}

.navbar-items {
	flex-grow: 1;
	display: flex;
	gap: 1rem;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1rem;

	.navbar-item {
		width: $navbar-item-size;
		height: $navbar-item-size;

		background: #2c2f33;
		border-radius: 1rem;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		cursor: pointer;
		outline: none;
		transition: $navbar-item-transition;

		&.navbar-item-active {
			background: $color-primary;
			.navbar-item__icon {
				opacity: 1;
			}
		}

		&__icon {
			opacity: 0.3;
			fill: #fff;
			width: 45%;
			height: auto;
			transition: $navbar-item-transition;
		}
	}
}

.router-outlet {
	flex-grow: 1;
	overflow-y: auto;
}
