$navbar-item-size: 4.5rem;
$navbar-bg: #1d2023;

$navbar-item-transition: all 0.2s ease-out;

:host {
	display: flex;
	flex-direction: row;
	height: 100%;
	width: 100%;
}

.navbar {
	display: flex;
	flex-direction: column;

	background: $navbar-bg;
	// box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.3);
}

.navbar-top {
	padding: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;

	&__icon {
		height: 2.5rem;
		width: 2.5rem;
		fill: rgba(255, 255, 255, 0.25);
		transition: all 0.2s ease-out;
	}
	&:hover &__icon {
		fill: #fbcf3d;
		transform: scale(1.1);
	}
}

.navbar-items {
	flex-grow: 1;
	display: flex;
	gap: 1rem;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1rem;

	.navbar-item {
		width: $navbar-item-size;
		height: $navbar-item-size;

		background: #2c2f33;
		border-radius: 1rem;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		cursor: pointer;
		outline: none;
		transition: $navbar-item-transition;

		&.navbar-item-active {
			background: #7289da;
			.navbar-item__icon {
				opacity: 1;
			}
		}

		&__icon {
			opacity: 0.3;
			fill: #fff;
			width: 45%;
			height: auto;
			transition: $navbar-item-transition;
		}
	}
}

.router-outlet {
	flex-grow: 1;
	overflow-y: auto;
}
