@import 'src/variables';

:host {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	width: 100%;
	background-color: $submenu-bg;
	padding: 2rem;
	border: $border;
}

.group {
	width: 100%;
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	justify-content: space-between;
	height: 6rem;
}

.group-label {
	border: 1px solid #fff;
	width: 8rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.layer {
	flex: 1 0;
	border: 1px solid #fff;
	padding: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.layer-add {
	border: 1px solid #fff;
	padding: 0.3rem;
	display: flex;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.group-label,
.layer {
	&:hover {
		cursor: pointer;
	}
	&--active {
		border-color: $color-primary;
	}
}
