@import "src/variables";

:host {
	padding: 0.5rem 1rem;
	min-height: 3rem;
	display: flex;
	flex-direction: column;
	background: $color-dark;
	border-radius: 0.25rem;
	box-shadow: 0.1rem 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.5);
	gap: 0.25rem;


	&.error {
		border-left: 4px solid rgb(255, 41, 41);
	}
	&.info {
		border-left: 4px solid rgb(41, 152, 255);
	}
}

.type {
	font-size: 0.8em;
	opacity: 0.6;
}
