<h2 class="subtitle">Nodes</h2>
<div class="nodes">
	<div class="node" *ngFor="let node of nodes" (click)="selectNode.emit(node)" [class.node--selected]="node == selectedNode">
		<span
		class="node-state"
		[class.node-state__online]="node.state !== 'Offline' && node.state !== 'Error'"
		[class.node-state__offline]="node.state === 'Offline'"
		[class.node-state__error]="node.state === 'Error'"
		></span>
		<span class="node-name">{{ node.name ? node.name : 'No name specified' }}</span>
	</div>
	<div class="no-nodes-message" *ngIf="nodes?.length == 0">No nodes registered</div>
</div>
<div *ngIf="isLoading">Fetching nodes...</div>
