@import "src/variables";

$icon-size: 1.4rem;

$node-color: #3d4146;

:host {
	background: $submenu-bg;
	padding: $submenu-padding;
}

.nodes {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.node {
	display: flex;
	gap: 0.5rem;
	align-items: center;
	padding: 0.75rem 1rem;
	background-color: $node-color;
	border-radius: 0.5rem;
	cursor: pointer;
	outline: none;

	&.node-selected {
		background-color: lighten($node-color, 8%);
	}

	.node-state {
		height: $icon-size;
		width: $icon-size;
		background-color: #fff;
		border-radius: 50%;
		flex-shrink: 0;

		$s: 65%;
		$l: 55%;
		&__online {
			background-color: hsl(110, $s, $l);
		}
		&__offline {
			background-color: hsl(110, 0%, $l);
		}
		&__error {
			background-color: hsl(0, $s, $l);
		}
		&__syncing {
			background-color: hsl(50, $s, $l);
		}
	}

	.node-name {
		word-break: break-word;
	}
}

.no-nodes-message {
	opacity: 0.4;
	text-align: center;
}
