<div class="node" *ngFor="let node of nodes" [routerLink]="node.id" routerLinkActive="node-selected">
	<span
		class="node-state"
		[class.node-state__online]="node.state !== NodeState.Offline && node.state !== NodeState.Error"
		[class.node-state__offline]="node.state === NodeState.Offline"
		[class.node-state__error]="node.state === NodeState.Error"
	></span>
	<span class="node-name">{{ node.id }}</span>
</div>

<div class="no-nodes-message" *ngIf="nodes?.length == 0">No nodes registered</div>
