<h2 class="subtitle">Nodes</h2>
<div class="nodes">
	<div class="node" *ngFor="let node of nodes" (click)="selectNode.emit(node)" [class.node--selected]="node == selectedNode">
		<span
			class="node-state"
			[class.node-state__online]="node.state === 'Ready'"
			[class.node-state__pending]="node.state === 'Start' || node.state === 'Connected' || node.state === 'Shutdown' || node.state === 'Preparing'"
			[class.node-state__offline]="node.state === 'Offline'"
			[class.node-state__error]="node.state === 'Error'"
			[title]="node.state"
		></span>
		<span class="node-name">
			<span *ngIf="node.name">{{ node.name }}</span>
			<i *ngIf="!node.name">{{ node.id }}</i>
		</span>
	</div>
	<div class="no-nodes-message" *ngIf="nodes?.length == 0">No nodes registered</div>
</div>
<div *ngIf="isLoading">Fetching nodes...</div>
